


#contact-content {
	margin-top:30px;
	margin-bottom:60px;
}


.section-margin-top {
	margin-top:50px;
}

.social-media-icons-contact{
	padding-left:5px;
	padding-right:5px;
}

.icon-circle-contact {
		padding-top: 0px;
  text-align: center;
}

.icon-circle-bg-contact {
	background-color: $icon-color;
	border-radius: 50%;
	width:50px;
	height:50px;
	color: $text-white;
	font-size:28px;
	margin:10px;
	margin-top:0px;
}

.icon-circle-bg-contact:hover {
	background-color: rgba(242, 101, 34, 0.8);
}

.nav-social-media{
	width:100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-top:20px;
}

/* Column container */
.row-contact {
	margin-left:10%;
	margin-right:10%;

  display: flex;
	flex-direction: row;
  // flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side-contact {
  flex: 30%;
	display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

	h1{
		font-family: 'Kiona-Regular';
	}

	// p {
	// 	font-family: 'Roboto-Thin';
	// 	font-size:16px;
	// }
}



/* Main column */
.main-contact {
  flex: 50%;
  background-color: $bg-black;
  padding: 20px;

}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {


	.row-contact {
		margin-left:20px;
		margin-right:20px;
	  display: flex;
		flex-direction: column;
	  // flex-wrap: wrap;
	}

	.side-contact {


	  display: flex;
		flex-direction: column;
	  // flex-wrap: wrap;
	}
}
