#home-content {
	display:block;
	margin-bottom:80px;
}

.no-dec {
	text-decoration: none;
}

.home-text {
	font-size:18px;
	font-family: $roboto;
	color: $text-white;
}

/* Column container */
.row {
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 80px;
  display: flex;
	flex-direction: row;
  // flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
	display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

	h1{
		font-family: $kiona;
	}
}

/* Main column */
.main {
  flex: 50%;
  background-color: $bg-black;
  padding: 20px;

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {

	#home-content {
		margin-top:0px;
		margin-bottom:0px;
	}


  .row {
    flex-direction: column;
  }
}

.nav-flex-grid-halves a{
	text-decoration: none;
}

.home-portrait {
	width:800px;

}

@media only screen and (max-width: 768px) {
	.home-portrait {
		width:100%;
	}

	.nav-flex-grid-halves {
		padding-left: 0%;
		padding-right: 20%;
	  display: flex;
		flex-direction: column;
		flex-wrap:wrap;
	  justify-content: center;
		width: 100%;
		text-decoration: none;
	}
}



@media (max-width: 400px) {
  .nav-flex-grid,
  .nav-flex-grid-halves {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}
